
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-success.css">

    <script>
        function dale() {
            return console.log("dale funcionou")
        }
    </script>
    
    <title>Sucesso</title>


</head>
<body id="page-success">

    <div id=container>

        <div id="text-box">
            <img src="/images/icons/success-check-icon.svg" alt="Check">
            <strong>Cadastro salvo!</strong>
            <p>Tudo certo, seu cadastro esta na nossa lista de professores.</p>
            <p>Agora é so ficar de olho no seu WhatsApp</p>
        </div>

        <button>Acessar a lista</button>

    </div>
</body>
</html>